<div id="season-<%=season.id%>" class='season'>
  <h1 class='name'>Name: <%= season.name %></h1>
  <p class='start_date'>Start Date: <%= start_date_for(season) %></p>
  <p class='duration'>Duration: <%= duration(season) %></p>
</div>